<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    <bean id="triangle" class="org.sunny.anand.Triangle" scope="singleton">
        <property name="points">
            <list>
                <ref bean="firstPoint"/>
                <ref bean="secondPoint"/>
                <ref bean="thirdPoint"/>
            </list>

        </property>
    </bean>
    -->

    <bean id="parenttriangle" class="org.sunny.anand.Triangle" init-method="myInit" destroy-method="myCleanUp">
        <property name="points">
            <list>
                <ref bean="firstPoint"/>
            </list>
        </property>

    </bean>

    <bean id="triangle1" class="org.sunny.anand.Triangle" parent="parenttriangle">
        <property name="points">
            <list merge="true">
                <ref bean="secondPoint"/>
                <ref bean="thirdPoint"/>
            </list>

        </property>

    </bean>

    <bean id="firstPoint" class="org.sunny.anand.Point">
        <property name="x" value="10"/>
        <property name="y" value="10"/>
    </bean>
    <bean id="secondPoint" class="org.sunny.anand.Point" name="pointA">
        <property name="x" value="${secondPoint.X}"/>
        <property name="y" value="${secondPoint.Y}"/>
    </bean>
    <bean id="thirdPoint" class="org.sunny.anand.Point">
        <property name="x" value="-5"/>
        <property name="y" value="-5"/>
    </bean>
    <!-- a bean postprocessor -->
    <!--bean  class="org.sunny.anand.DisplayNameBeanPostProcessor" /-->
    <!--bean class="org.sunny.anand.BeanFactoryPP" /-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="points.properties"></property>

    </bean>
    <!-- <alias name="triangle" alias="triangle-name"></alias> -->
</beans>