<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="org.sunny.anand.Triangle">
        <property name="A" ref="firstPoint"/>
        <property name="B" ref="secondPoint"/>
        <property name="C" ref="thirdPoint"/>
    </bean>

    <bean id="firstPoint" class="org.sunny.anand.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="secondPoint" class="org.sunny.anand.Point">
        <property name="x" value="10"/>
        <property name="y" value="10"/>
    </bean>

    <bean id="thirdPoint" class="org.sunny.anand.Point">
        <property name="x" value="-5"/>
        <property name="y" value="-5"/>
    </bean>
</beans>